/**
 * Overrides
 * =================================
 * - Foundation Overrides
 * - Padding / Margin Edits
 *
 *
 *
 *
 * - This shouldn't be a dump of random edits, but a collection of specific and intentional spacing classes.
 */

//*********************************************
//*********** FOUNDATION OVERRIDES ************
//*********************************************

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

//*********************************************
//**************** MISC TOOLS *****************
//*********************************************

.opacity-medium {
  opacity: .8;
}

.rounded-corners {
  border-radius: 15px;
}

.rounded-corners-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

// box shadow
.box-shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

//*********************************************
//************ VISIBILITY TOOLS ***************
//*********************************************
@media screen and (max-width: 39.9375em) {
  .show-for-desktop {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .show-for-mobile {
    display: none;
  }
}

//*********************************************
//************* SPACING OVERRIDES *************
//*********************************************

//padding
.no-padding {
  padding: 0;
}

.padding-top {
  padding-top: 30px;
}

.add-padding {
  padding: 20px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.padding-bottom-xl {
  padding-bottom: 60px;
}


//margin
.no-margin {
  margin: 0;
}

.add-margin {
  margin: 20px;
}

.margin-top {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.excerpt-paragraph p {
  padding: 0;
}

.header-margin {
  h1,h2,h3,h4,h5,h6 {
    padding: 20px;
  }
}



//width fixes
@media screen and (max-width: 39.9375em) {
  .width-large {
    width: 100%;
  }
}


//*********************************************
//************* ALIGNMENT FIXES ***************
//*********************************************
.position-relative {
  position: relative;
}

@media screen and (min-width: 40em) {
  .bottom-align {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}