/**
 * Typography
 * =================================
 * - Base
 * - Headers
 * - Paragraphs
 * - Text Transformations
 * - Text Placements
 *
 * Body font size, leadings etc have been set in _variables.scss
 *
 *
 */


//*********************************************
//****************** BASE *********************
//*********************************************
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-size: $normal;
}




//*********************************************
//***************** HEADERS *******************
//*********************************************
h1, h2, h3 {
  font-family: $head-font;
  color: $primary;
  font-weight: 800;
}

h1 {
  text-transform: uppercase;
  font-size: $xlarge;
  color: $background;
}

h2 {
  font-size: $large;
  text-transform: uppercase;
}

h3 {
  font-size: $medium;
  text-transform: uppercase;
}

h4 {
  font-family: $main-font;
  font-size: $small;
  text-transform: uppercase;
  color: $background;
  font-weight: 800;
}

.main-header {
  color: $primary;
}

//Mobile Styles
@media screen and (max-width: 39.9375em) {
  .mobile-heading-small {
    font-size: $medium;
  }
}


//*********************************************
//*************** FONT SIZES ******************
//*********************************************
.small-font {
  font-size: $small;
}

.medium-font {
  font-size: $medium;
}

.large-font {
  font-size: $large;
}

.xlarge-font {
  font-size: $xlarge;
}

@media screen and (max-width: 39.9375em) {
  .medium-font-mobile {
    font-size: $medium;
  }
}

//*********************************************
//*************** PARAGRAPHS ******************
//*********************************************
p {
  font-family: $main-font;
  font-size: $normal;
  color: black;
  padding: 20px;
  line-height: 1.6;
}

.featured-paragraph {
  font-size: 1.2em;
}

.text-invert {
  color: $background;
}

.text-color {
  color: $primary;
}

//this helps keep the buttons in place by locking the min height of the text
@media screen and (min-width: 40em) {
  .height-lock {
    height: 100px;
  }
}

.no-spacing {
  p {
    margin: 0;
    padding: 0;
  }
}

//*********************************************
//****************** LINKS *******************
//*********************************************

a {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}


//*********************************************
//********** TEXT TRANSFORMATION **************
//*********************************************
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 800;
}

.italics {
  font-style: italic;
}



//*********************************************
//************* TEXT PLACEMENTS ***************
//*********************************************
.left {
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.soft-center {
  text-align: center;
}

.right {
  text-align: right;
}