h1 {
  font-family: $head-font;
  font-size: 3em;
  font-weight: 800;
  color: white;
}



.left {
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.right {
  text-align: right;
}