//*********************************************
//***************** COLORS ********************
//*********************************************

//Main Colors
$primary: #ffffff;
$background: #1e1e1e;

// Brand Colors






//*********************************************
//****************** TYPE *********************
//*********************************************

$main-font: 'Roboto', sans-serif;
$head-font: 'Harbour', serif;

$tiny: .8em;
$normal: 1em;
$small: 1.1em;
$medium: 1.7em;
$large: 2em;
$xlarge: 3em;



//*********************************************
//***************** OTHER *********************
//*********************************************