/**
 * Variables
 * =================================
 * - Colors
 * - Typography
 * - Sizes
 * - Other
 *
 *
 *
 */

//*********************************************
//***************** COLORS ********************
//*********************************************

// Main site colors
$primary: #ffffff;
$background: #1e1e1e;

// Brand palette colors






//*********************************************
//****************** TYPE *********************
//*********************************************

// Fonts
$main-font: 'Roboto', sans-serif;
$head-font: 'Harbour', serif;


//*********************************************
//***************** SIZES *********************
//*********************************************

// Font Sizes
$tiny: .8em;
$normal: 1em;
$small: 1.1em;
$medium: 1.7em;
$large: 2em;
$xlarge: 3em;



//*********************************************
//***************** OTHER *********************
//*********************************************